* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/mask1.jpg");
  background-repeat: repeat;
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  width: 100%;
  min-height: 130px;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(17, 16, 16) 20%
  );
}
.text-shadow {
  font-family: fantasy;
  font-size: 3em;
  color: rgb(127, 156, 75);
  text-shadow: 1px 1px #bbb7bb, 1px -1px #363636, -1px 1px #313131,
    -1px -1px #363536, 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.container_my {
  background-image: url("../images/tlo.png");
  width: 90%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 80px);
}
.leftside {
  flex: 40%;
  opacity: 0.3;
  padding: 20px;
}
.main {
  flex: 60%;
  background-image: "../images/tlo.jpg";
  padding: 20px;
}
.menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 99;
}
.menu a {
  color: forestgreen;
  padding: 10px 0;

  background: black;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
}
.menu a:hover {
  background-color: grey;
  color: black;
  text-decoration: none;
}
#main_img {
  position: fixed;
  margin-bottom: 80px;
  top:500px;
}

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  height: 80px;
  color: darkgreen;
  font-size: 1.2rem;
  text-align: center;
  background: black;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
  text-align: center;
}
.container a {
  color: darkgreen;
  font-size: 1.2rem;
}
.container p {
  font-size: 1.2rem;
}
.container h4 {
  color: darkolivegreen;
}
@media (max-width: 810px) {
  .container_my,
  .menu {
    flex-direction: column;
  }
  #main_img{display: none;}
}

.accordion {
  margin: 0 auto;
  font-size: 14px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.accordion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion li {
  margin: 0;
  padding: 0;
}
.accordion [type="radio"],
.accordion [type="checkbox"] {
  display: none;
}
.accordion label {
  display: block;
  font-size: 16px;
  line-height: 16px;
  background: rgb(127, 156, 75);
  border: 1px solid #129633;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
}
.accordion ul li label:hover {
  background: #17693c;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.accordion .content {
  padding: 0 10px;
  overflow: hidden;
  border: 1px solid #fff;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}
.accordion p {
  color: #333;
  margin: 0 0 10px;
}
.accordion h4 {
  color: #17693c;
  padding: 0;
  margin: 10px 0;
}

.accordion .content h6 {
  font-size: 1.2em;
  color: darkolivegreen;
}

.vertical ul li {
  overflow: hidden;
  margin: 0 0 1px;
}
.vertical ul li label {
  padding: 10px;
}

.vertical ul li label:hover {
  border: 1px solid darkolivegreen;
}
.vertical ul li .content {
  height: 0px;
  border-top: 0;
  transition: all 0.5s ease-out;
}
.vertical [type="checkbox"]:checked ~ label ~ .content {
  height: 100%;
  border: 1px solid darkolivegreen;
}
.img-con {
  display: flex;
  flex-direction: row;
  padding: 10px;

  justify-content: start;
}
#picture {
  width: 30%;
  position: fixed;
  margin-top: 20px;
  padding: 5px auto;
  z-index: 97;
}
button, input, select, textarea {
  font: inherit;
  margin: 0;








  
#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
  border: 1px solid #30ad64;
}


::-webkit-input-placeholder {
  color: wheat;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::-moz-placeholder  {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  

:-moz-placeholder {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  

:-ms-input-placeholder {
  color: #fff;
  font-family: 'aaw', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::placeholder {
  color: #A9A9A9;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.list{
  position: relative;
  margin-left: 30px;
}
#application {
  width: 505px;
  height: 325px;
  margin-left: 685px;
  position: absolute;
  border: 3px solid green;
  padding: 7px;
  top: 114px;
}
#forma{
  font-size: 22px;
  font-family: "eer";
  color:darkgreen;
}

#applicationName, #applicationEmail, #applicationTelephone {
  width: 100%;
  height: 52px;
  background: none;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 40px;
  text-align: center;
  color: black;
  font-size: 24px;
}
.applicationButton {
  margin-top: 15px;
  background: #30ad64;
  border: none;
  width: 100%;
  height: 63px;
  border-radius: 40px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  transition: .6s;
}
  .applicationButton:hover {
      background: #8B0000;
      transition: .6s;
  }
.facebook_icon{
  z-index: 100;
}
.icon-button {
  top: 50px;
  left: 550px;
background-color: white;
border-radius: 3.6rem;
cursor: pointer;
display: inline-block;
font-size: 2.0rem;
height: 3.6rem;
line-height: 3.6rem;
margin: 0 5px;
position: relative;
text-align: center;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
width: 3.6rem;
}

/* Circle */
.icon-button span {
border-radius: 0;
display: block;
height: 0;
left: 50%;
margin: 0;
position: absolute;
top: 50%;
-webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
        transition: all 0.3s;
width: 0;
}
